@keyframes pulse {
  0%, 100% { 
    opacity: 1; 
  }
  50% { 
    opacity: 0.4; 
  }
}

.animate-pulse-custom {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body.bg-slate-100 .bg-slate-800 {
background-color: #dedddd;
border-color: #bcbec1;
color: #0f172a;
}

body.bg-slate-100 .textwhite {
    color: #0f172a;
}